{% extends 'checkout/old_preview.html' %}
{% load currency_filters %}
{% load i18n %}


{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <a href="{% url 'checkout:payment-method' %}" class="pull-right">{% trans "Change" %}</a>
            <p>
            {{ payment_method }}{% blocktrans with amount=order_total.incl_tax|currency %}<strong>{{ amount }}</strong>{% endblocktrans %}
            
            </p>
            {% comment %} 
            <p>
            {% blocktrans with amount=order_total.incl_tax|currency %}
            <strong>{{ amount }}</strong> {{ payment_method }} will be debited from your bankcard.{% endblocktrans %}</p> 
            {% endcomment %}
        </div>
    </div>
{% endblock %}

{% comment %} {% block hiddenforms %}
    {{ bankcard_form.as_p }}
    {{ billing_address_form.as_p }}
{% endblock %} {% endcomment %}
